<p id="notice"><%= notice %></p>

<p>
  <h1> <%= @user.username %> </h1>
</p>

<p>
  Has made <%= @user.ratings.count %> ratings, average rating <%= @user.average %> 
</p>

<h2> Club Memberships </h2>

<ul>
  <% @user.beer_clubs.each do |beer_club| %>
    <li>
      <%= link_to beer_club.name, beer_club %>  
    </li>
  <% end %>
</ul> 

<h2> Ratings </h2>

<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
          <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul> 

<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
<% if @user == current_user %> |
<%= link_to 'Destroy', user_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
