<p id="notice"><%= notice %></p>

<h1><%= @place_data["name"] %></h1>
<i><%= @place_data["status"] %></i>
<br/><br/>
<%= @place_data["street"] %>
<br/><br/>
<%= @place_data["zip"] %> <%= @place_data["city"] %>
